$black:black;
$white:white;



$neutral10:#fafafa;
$neutral20:#f5f5f5;
$neutral30:#ebebeb;
$neutral40:#dedede;
$neutral50:#bfbfbf;
$neutral60:#b0b0b0;
$neutral70:#a3a3a3;
$neutral80:#949494;
$neutral90:#858585;
$neutral100:#757575;
$neutral200:#666666;
$neutral300:#575757;
$neutral400:#4a4a4a;
$neutral500:#3b3b3b;
$neutral600:#2e2e2e;
$neutral700:#1c1c1c;
$neutral800:#0d0d0d;

$accent50:#e6effd;
$accent75:#96bff8;
$accent100:#6ba4f5;
$accent200:#2b7df1;
$accent300:#0062ee;
$accent400:#0045a7;
$accent500:#003c91;